body {
    background-color: #ffffff;
    color: white; /* Change text color to white for better visibility on black background */
  }

  .intro {
    background-image: url('taj mahal/Screenshot (23).png');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 90vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }
  .intro p {
    
    padding: 5px; /* Adjust padding for the highlighted text */
  }
  
  .his {
    background-image:  url('taj mahal/istockphoto-124688183-1024x1024 (1).jpg');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 90vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 0px; /* Add padding to ensure space around the text */
  }
  .his p {
  
    padding:20 px; /* Adjust padding for the highlighted text */
  }

  .arc {
    background-image: url('taj mahal/istockphoto-476678432-1024x1024.jpg');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }
  .arc p {
   
    padding:20 px; /* Adjust padding for the highlighted text */
  }

  .cul {
    background-image: url('taj mahal/istockphoto-124688183-1024x1024 (1).jpg');
    background-image: url('taj mahal/Screenshot (23).png');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 150vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }
  .cul p {
    
    padding: 20px; /* Adjust padding for the highlighted text */
  }

  .tip {
    background-image: url('taj mahal/Screenshot (23).png');
    background-image: url('taj mahal/Screenshot (23).png');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 90vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }
  .tip p {
   
    padding: 20px; /* Adjust padding for the highlighted text */
  }

  .nea {
    background-image: url('taj mahal/Screenshot (23).png');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 90vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }
  .nea p {
    background-image: url('taj mahal/Screenshot (24).png');
    background-size: cover; /* Covers the entire container without stretching */
    background-position: center;/* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 120vh; /* Sets the height of the container to 100% of the viewport height */
    /* Additional styling for the intro section */
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Apply a subtle text shadow */
    padding: 20px; /* Add padding to ensure space around the text */
  }

h1{
    background-color: #CDB79E;
    color: #FFF8E1;
    text-align: center }
h2{
    background-color: #FFF8E1;
    color: rgb(158, 136, 9);
    text-align: center;
}
p1{ background-color: #000000;
    text-align: start;
}